* {
  font-family: 'Roboto', sans-serif;
}

#btn {
  position: fixed;
  top: 0;
  left: 70px;
  width: 50px;
  height: 50px;
  z-index: 1;
  font-size: 20px;
  padding: 10px 10px;
  transition: 0.5s;
  color: #818181;
  background-color: #111;
  text-align: center;
}

#btn:hover {
  color: #f1f1f1;
}

#btn-i {
  padding: 10px auto;
}

.img {
  height: 120px;
}

.logo {
  width: 30px;
  margin: 20px 20px 50px 20px;
}

.sidenav {
  height: 100%;
  width: 70px;
  padding: 5px 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a, #dropdown-btn {
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 270px;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.sidenav a {
  padding: 10px 8px 10px 8px;
}

.dropdown-btn {
  padding: 0px;
  margin: 0px;
}

.sidenav a:hover, #dropdown-btn:hover {
  color: #f1f1f1;
  text-decoration: none;
  transition: color 0.5s;
}

.links {
  display: block;
  padding-top: 50px;
}

.link {
  width: 270px;
  height: 70px;
}

.link.actived {
  background: #00B454;
  color: #f1f1f1;
}

.link-icon {
  float: inline-start;
  text-align: center;
  margin: 10px auto;
}

.link-text, .dropdown-icon {
  float: inline-end;
  margin: 10px 5px;
  text-align: left;
}

.link-text-d{
  float: inline-end;
  margin: 10px 10px 10px 0px;
  text-align: right;
}

.dropdown-container {
  display: none;
  background-color: #262626;
}

.dropdown-container a {
  text-align: right;
}

#icon-arrow {
  float: right;
  padding: 5px;
}

#dropdown-btn.active {
  background-color: #8b8b8b;
  color: white;
}

.main {
  font-size: 20px;
  padding: 50px;
  transition: 0.5s;
}

@media only screen and (max-width: 576px) {
  .sidenav {width: 0px;}
  #btn {left: 0px;}
  .main {margin-left: 0px;}
}

@media only screen and (min-width: 576px) {
  .sidenav {width: 70px;}
  #btn {left: 70px;}
  .main {margin-left: 70px;}
}